* {
    margin: 0;
    padding: 0;    
}

.bg-img {
    background-image: url(/desktop/image-header.jpg);
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

div.topnav {
    padding-top: 10px;
}

.topnav {
    display: flex;
    justify-content: space-between;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:last-child {
    background-color: aliceblue;
    border-radius: 20px;
}

.header-topic {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

div.arrow-img {
    width: 2%;
    padding: 10% 45%;
    margin-left: 5%;
}

img {
    width: 100%;
}

.section-1-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.box-5 {
    background-image: url(/desktop/image-graphic-design.jpg);
    height: 500px;
    text-align: center;
}

.box-5-content {
    text-align: center;
    padding-top: 50%;
}

.box-6 {
    background-image: url(/desktop/image-photography.jpg);
    height: 500px;
    text-align: center;
}

.box-6-content {
    text-align: center;
    padding-top: 50%;
}

.box-1, .box-4 {
    padding: 20%;
}

.section-2 {
    padding: 7%;
}

.section-2-text {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.cont-2 {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    column-gap: 15%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.cont-2 img {
    border: 10px;
    border-radius: 100%;
    width: 20%;
}

.section-3 .section-3-img {
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    height: 20%;
}

div.foot {
    background-color: #91D3C5;
    background-position: center;
    min-height: 200px;
    padding-top: 0;
}

.foot-img {
    padding-left: 45%;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 10%;
    color: #1a5749;
}

.foot-nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    padding: 0 35% 0 35%;
    text-decoration: none;
    list-style: none;
}

.foot-img {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}