* {
  margin: 0;
  padding: 0;
}

.bg-img {
  position: relative;
  background-image: url(image-header.jpg);
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.topnav.responsive {
  display: flex;
  justify-content: space-between;
  float: right;
  list-style: none;
  padding: 10px;
}

.navbar .logo {
  width: 18%;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
}

li.nav-link:nth-child(4) {
  background-color: aliceblue;
  border-radius: 20px;
}

.header-topic {
  position: absolute;
  bottom: 75%;
  left: 33%;
  font-size: 22px;
}

div.arrow-img {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 2%;
}

img {
  width: 100%;
}

.section-1-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.box-5-content {
  text-align: center;
  /* padding-top: 50%; */
}

.box-6-content {
  text-align: center;
  position: absolute;
  /* padding-top: 50%; */
}

.box5-img,
.box6-img {
  position: relative;
}

.box-5-content,
.box-6-content {
  position: absolute;
  bottom: 50px;
}

.box5-img img,
.box6-img img {
  width: 100%;
  height: 100%;
}

.box-1,
.box-4 {
  position: relative;
  top: 40%;
  left: 20px;
}

.section-2 {
  position: relative;
}

.section-2-header {
  padding: 5px 0px 0px 70px;
}

.section-2-text {
  padding-top: 10px 0px 20px 0px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.cont-2 {
  display: grid;
  grid-template-columns: 50% 50% 50%;
  column-gap: 15%;
  align-items: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.cont-2 img {
  border: 10px;
  border-radius: 100%;
  width: 20%;
}

.section-3 .section-3-img {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  height: 20%;
}

div.foot {
  background-color: #91d3c5;
  background-position: center;
  min-height: 200px;
  padding-top: 0;
}

.foot-img {
  padding-left: 45%;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 10%;
  color: #1a5749;
}

.foot-nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 20px;
  padding: 0 35% 0 35%;
  text-decoration: none;
  list-style: none;
}

.foot-img {
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

.toggleNav {
  display: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1160px) {
  .header-topic {
    text-align: center;
    padding: 80px 0px 0px 50px;
    font-size: 22px;
  }

@media only screen and (max-width: 1000px) {
  .navbar .logo {
    width: 28%;
  }

  ul.topnav li.nav-link a {
    display: none;
  }

  .toggleNav {
    display: block;
    background-color: white;
    border: 1px;
    border-radius: 3px;
  }

  ul.topnav.responsive {
    flex-direction: column;
    text-align: right;
  }
}